/* RESET */
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Merienda', cursive;
}

/* general styling */

.container {
  margin: auto;
  max-width: 1100px;
  overflow: none;
  padding: 0 20px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  font-size: 18px;
  color: #fff;
  background: #333;
  padding: 13px 20px;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  transition: all ease-in-out 0.45;
}

.btn:hover {
  background: #f7c08a;
  color: #333;
}

.btn-2 {
  display: inline-block;
  font-size: 18px;
  color: white;
  padding: 13px 20px;
  border: 2px solid burlywood;
  cursor: pointer;
  border-radius: 8px;
}

.btn-2:hover {
  background: #f7c08a;
  color: #333;
}

.btn-light {
  background: #f4f4f4;
  color: #333;
}

.btn-dark {
  color: #f4f4f4;
  background: #333;
}


.lead {
  font-size: 18px;
}

.text-primary {
  color: #f7c08a;
}

/* NAV BAR */

#navbar {
  background: rgb(23, 130, 124);
  color: #fff;
  overflow: auto;
  margin-bottom: 30px;
}

#navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#navbar a {
  color: white;
}

#navbar ul {
  display: inline-flex;
  flex-wrap: wrap;
}

#navbar ul li a {
  display: block;
  padding: 20px;
  font-size: 16px;
}

#navbar ul li a:hover,
#navbar ul li a.current {
  background: rgb(2, 48, 46);
  color: #f7c08a;
}

#navbar h1 {
  padding-left: 20px;
  font-size: 25px;
}

/* SLIDESHOW BG */

#slideshow {
  background: url(../images/bg-white.jpg)  no-repeat center center/cover;
  height: 600px;
  margin-top: -30px
}

#slideshow .slideshow-content {
  color: #000;
  text-align: center;
  padding-top: 100px;
}

#slideshow .slideshow-content h1 {
  font-size: 50px;
  line-height: 1.2em;
}

#slideshow .slideshow-content p {
  padding-bottom: 20px;
  line-height: 1.7em;
}

a i {
  color: #000;
}

#slideshow .profile-img img {
  width: 280px;
  border-bottom: thick ridge;
  transition: ease-in-out 2s ;
  animation: bounce 4s; 
  animation-duration: 10s;
}

@keyframes bounce { 
  0%, 20%, 50%, 80%, 100% {transform: translateY(5);} 
  40% {transform: translateY(-20px);} 
  60% {transform: translateY(-15px);} 
}


/* SKILLSET */

#skillset {
  /* background: burlywood; */
  text-align: center;
  /* padding: 30px; */
  margin-bottom: 60px;
}

#skillset h2 {
  text-transform: uppercase;
  color: black;
  font-size: 2.5em;
  padding-bottom: 20px;
  padding-top: 30px;
  margin-top: 20px;
}

.skill-lists {
  /* border-top: 10px dotted burlywood; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1.4em;
  padding-top: 1.4em;
  flex-wrap: wrap;
  margin-top: -18px;
}

/* PROJECTS */

#projects {
  background: url(../images/dark-clouds.jpg) no-repeat center center/cover;
  /* height: 400px; */
  text-align: center;
  padding: 30px;
  margin-top: -30px
}

#projects h2 {
  text-transform: uppercase;
  color: white;
  font-size: 2.5em;
  /* padding-bottom: 30px; */
  padding-top: 30px;
  padding-bottom: 20px;
}

#projects .projects-holder {
  /* border-top: 10px dotted black; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1.2em;
  padding-top: 1.4em;
  flex-wrap: wrap;
}

             
.projects-holder a {
  color: grey;
}


.project-img  img{
  width: 250px;
  height: 200px;
  display: inline-flex;
  padding-bottom: 10px;
}


.projects-holder .proj p{
  color: white;
  padding: 5px 0;
}


/* MASORY GRID */

.masonry {
  margin-top: 7em;
  width: border-box;
  text-align: center;
  line-height: 1.2em;
}

.masonry h1 {
  text-transform: uppercase;
  font-size: 2.5em;
}

.masonry p {
  font-size: 1.4em;
}

.grid-container {
  /* margin-top: 5px; */
  display: grid;
  grid-template-columns: 200px auto 250px 200px;
  grid-auto-rows: minmax(200px, auto);
  /* grid-auto-rows: minmax(150px, auto); */
  grid-gap: 10px;
  align-items: center;
  align-content: center;
}

.grid-item{
  /* background: rgb(7, 41, 72); */
  /* width: auto; */
  border-radius: 15px;
  height: 300px;
  border: 5px ridge;
}

.grid-item-1 {
  background: url("../images/memory_me.jpg") no-repeat center center/cover ;
  grid-column: 1 / 3
}

.grid-item-2 {
  background-color: pink;
  grid-column: 3 / 5;
  background: url("../images/memory_other_team.jpg") no-repeat center center/cover;
}

.grid-item-3 {
  grid-column: 5 / 6;
  background: url("../images/memory_venue.jpg")no-repeat center center/cover;
}

.grid-item-4 {
  grid-column: 1 / 4;
  background: url("../images/memory_me_table.jpg") no-repeat center center/cover;
}

.grid-item-5 {
  grid-column: 4 / 6;
  background: url("../images/memory_chiidi.jpg") no-repeat center center/cover;
}

.grid-item-6 {
  grid-column: 1 / 2;
  background: url("../images/memory_ada.jpg") no-repeat center center/cover;
}

.grid-item-7 {
  grid-column: 2 / 3;
  background:url("../images/memories_odinaka.jpg") no-repeat center center/cover;
}

.grid-item-8 {
  grid-column: 3 / 4;
  background:url("../images/memories_jemilat.jpg") no-repeat center center/cover;
}

.grid-item-9 {
  grid-column: 4 / 6;
  background: url("../images/memories_yusuf.jpg") no-repeat center center/cover;
}

.grid-item-10 {
  grid-column: 1 / 3;
  background: url("../images/memories_ola.jpg") no-repeat center center/cover;
}

.grid-item-11 {
  grid-column: 3 / 6;
  background: url("../images/group_memory\ \(2\).jpg") no-repeat center center/cover;
}



/* FOOTER */

.bg-dark {
  margin-top: 20px;
  text-align: center;
  padding: 30px 0;
  background: url(../images/dark-clouds.jpg) no-repeat center center/cover;
}

.bg-dark p {
  font-size: 1.3em;
  font-weight: 500;
}

.bg-dark ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* align-items: center; */
  padding-top: 1.4em;
}

.bg-dark ul li {
  padding: 20px 5px;
}

.bg-dark ul li a:hover {
  color: #000;
}

.fa-brands:hover , .fa:hover {
  color: rgb(23, 130, 124);
}






/* ABOUT SECTION BEGINS */

#about-me {
  padding-top: 30px;
  margin-top: -31px;
  background-color: gainsboro;
  background: url(../images/web-bg-2.jpg) no-repeat center center/cover;
  padding-bottom: 40px;
}

#about-me  .reach-out{
  /* display: flex; */
  text-align: center;
  margin-top: 20px;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 30px;
}

#about-me  .reach-out ul {
  display: inline-flex;
}

#about-me  .reach-out ul li {
  margin: 10px;
}



#about-me .profile-content {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}


.profile-content .about-info {
  background: rgb(243, 239, 239);
  border-radius: 6px;
  padding: 35px;
  width: 600px;
  height: auto;
  color: #333;
}

.profile-content .about-info h1{
  color: rgb(2, 48, 46);
  font-weight: 800;
}

.profile-content .about-info p {
  font-size: 1.2em;
  line-height: 1.5em;
  text-align: justify;
}

.profile-content .about-info p a {
  color: rgb(2, 48, 46);
  font-weight: 800;
}

.profile-content .about-info .about-skill-lists {
  display: inline-flex;
  flex-flow: wrap;
}

.profile-content .about-info .about-skill-lists li {
  margin: 2px 3px;
  transition: ease-in-out 0.7s;
}

.profile-content .about-info .about-skill-lists .btn , .profile-content .about-info .about-skill-lists .btn-light {
  font-size: 10px;
  padding: 8px;
}





/* CONTACT SECTION STARTS HERE */


.sep-bg {
  background: floralwhite;
  margin-top: -29px;
}

.form-holder {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  margin-top: 50px;
  padding-top: 20px;
}


.form-holder .form-card {
  line-height: 1.7em;
  border: 3px ridge;
  border-radius: 6px;
  padding: 40px;
}

.form-holder h1 {
padding: 25px 0;
font-size: 2em;
text-align: center;
}

.form-holder .form-card label {
  font-size: 1.1em;
}

.form-holder .form-card input {
font-size: 1.1em;
width: 400px;
height: 32px;
color: #333;
padding: 0 15px;
border: 1px solid;
border-radius: 3px;
}

.form-holder .form-card input::placeholder {
  color: #f7c08a;
}

.form-holder button {
  align-content: center;
}

.container-contact {
  text-align: center;
  width: min-content;
}

.container-contact p {
  font-size: 1.3em;
  line-height: 1.2em;
}

.container-contact ul {
  display: inline-flex;
  justify-content: space-evenly;
  margin-top: 30px;
}

.container-contact ul li {
  margin: 7px;
}




/* SMALLER SCREEN SIZE - SMALLER PHONE SCREENS */
@media (min-width: 320px) and (max-width: 400px){

  #navbar .container {
    flex-flow: column;
    padding-top: 20px;
    font-size: 16px;
  }

  #navbar h1 {
    padding: 0;
    margin-bottom: 10px;
  }

  #navbar ul li a {
    font-size: 14px;
  }

  #slideshow {
    height: 400px;
  }

  #slideshow .slideshow-content {
    padding-top: 20px;
  }

  #slideshow .profile-img img {
    width: 150px;
  }

  #slideshow .slideshow-content h1 {
    font-size: 25px
  }

  #slideshow .slideshow-content p {
    padding-bottom: 9px;
    line-height: 1.2em;
    font-size: 12px;
  }

  #slideshow .slideshow-content a i {
    font-size: 24px;
  }

  .btn {
    font-size: 12px;
    margin-bottom: 6px;
  }

  #skillset {
    margin-bottom: 20px;
    padding-top: 20px
  }

  #skillset h2 {
    padding-top: 20px;
    font-size: 1.8em;
    margin-top: 20px;
  }

  .skill-lists {
    flex-flow: wrap;
    margin-bottom: 25px;
    padding-top: 5px
  }

  .skill-lists ul li {
    margin-bottom: 10px;
  }

  #projects {
    padding: 10px;
  }

  #projects h2 {
    font-size: 22px;
    padding-bottom: 5px;
  }

  #projects .projects-holder {
    padding-top: 1em;
    flex-flow: wrap;
  }

  .project-img img {
    width: 250px;
    height: 150px;
  }

  .projects-holder .proj {
    padding-bottom: 25px
  }

  .projects-holder .proj p {
    padding: 0;
    margin-bottom: 10px;
  }

  .bg-dark ul li {
    padding: 0;
    margin: 6px;
  }

  .bg-dark ul{
    padding-bottom: 15px;
  }

  .bg-dark .small-paragraph {
    font-size: 10px;
  }

  .social-media .fa , 
  .social-media .fa-brands {
    font-size: 20px;
  }


  /* ABOUT SECTION AREA */

#about-me .profile-content {
display: grid;
justify-content: center;
}

.profile-content .profile-img .reach-out ul {
padding-bottom: 15px;
}

.profile-content .about-info {
width: 400px;
text-align: center;
}

.profile-content .about-info h1 {
  text-align: center;
}

  
.profile-img-centre {
grid-row-start: none;
display: inline-grid;
justify-content: center;
grid-row-start: none;
}

.profile-img-centre img {
width: 250px;
border-radius: 50px;
border-bottom: 2px dotted rgb(23, 130, 124);
}

.profile-content .profile-img-centre .reach-out ul {
  display: flex;
}

.profile-content .profile-img-centre .reach-out li {
margin: 10px;
}

.profile-content .about-info {
/* height: 700px; */
margin-bottom: 40px
}

.profile-content .about-info .about-skill-lists {
display: inline-flex;
flex-flow: wrap;
justify-content: center;
}

#about-me .reach-out h1 {
  font-size: 14px;
}

/* FORM */

  .form-holder .container-contact {
    width: 450px;
  }

  .form-holder h1 {
    font-size: 1.5em;
  }

  .form-holder .form-card {
    width: 320px;
    padding: 10px;
  }

  .form-holder .container-contact p {
    font-size: 1em;
  }

  .form-holder .container-contact {
    width: 300px;
  }

  .form-holder .container-contact ul li {
    margin: 9px;
  }

  .form-holder .form-card input {
    width: 275px;
  }
  
}


/* SMALL SCREEN SIZE - INFINIX SMART 5 */
@media (min-width: 401px) and (max-width: 750px){

  #navbar .container {
    flex-flow: column;
    padding-top: 20px;
    font-size: 16px;
    padding-bottom: 25px
  }

  #navbar h1 {
    padding: 0;
    margin-bottom: 30px;
    font-size: 35px;
  }

  #navbar ul li a {
    font-size: 20px
  }

  #slideshow {
    height: 400px;
  }

  #slideshow .slideshow-content {
    padding-top: 20px;
  }

  #slideshow .profile-img img {
    width: 226px;
  }

  #slideshow .slideshow-content h1 {
    font-size: 25px
  }

  #slideshow .slideshow-content p {
    padding-bottom: 9px;
    line-height: 1.2em;
    font-size: 12px;
  }

  #slideshow .slideshow-content a i {
    font-size: 24px;
  }

  .btn {
    font-size: 12px;
    margin-bottom: 6px;
  }

  #skillset {
    margin-bottom: 20px;
    padding-top: 20px;
  }

  #skillset h2 {
    font-size: 1.8em;
    padding-bottom: 5px;
  }

  .skill-lists {
    flex-flow: wrap;
    margin-bottom: 30px
  }

  .skill-lists ul li {
    margin-bottom: 10px;
  }

  #projects {
    padding: 10px;
  }

  #projects h2 {
    font-size: 22px;
    padding-bottom: 5px;
  }

  #projects .projects-holder {
    padding-top: 1em;
    flex-flow: column;
  }

  .projects-holder .proj {
    padding-bottom: 25px
  }

  .project-img img {
    width: 350px;
    height: 250px;
  }

  .projects-holder .proj p {
    padding: 0;
    margin-bottom: 10px;
    font-size: 20px
  }

  .bg-dark ul li {
    padding: 0;
    margin: 6px;
  }

  .bg-dark ul{
    padding-bottom: 15px;
  }

  .bg-dark .small-paragraph {
    font-size: 12px;
  }

  .social-media .fa , 
  .social-media .fa-brands {
    font-size: 38px;
  }
  

   /* ABOUT SECTION AREA */

   #about-me .profile-content {
    display: grid;
    justify-content: center;
  }

  .profile-content .profile-img-centre .reach-out ul {
    padding-bottom: 15px;
    display: inline-flex;
  }

  .profile-content .profile-img-centre .reach-out li {
    margin: 10px;
  }


  .profile-content .about-info h1 {
    text-align: center;
  }



  .profile-content .about-info {
    /* height: 700px; */
    margin-bottom: 40px;
    width: auto;
  }

  /* CONTACT US PAGE */

  .form-holder .container-contact {
    width: 400px;
  }

  .form-holder .container-contact p {
    font-size: 1.4em;
  }

  .form-holder .container-contact ul li {
    margin: 18px;
  }



  
}


